@model IEnumerable<ESII.Models.RelatorioProj>
@{
    ViewData["Title"] = "Relatórios de Projetos";
}

<h2>Lista de Relatórios de Projetos</h2>
<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Preço das Tarefas</th>
        <th>Preço Total</th>
        <th>Projeto</th>
        <th>Cliente</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.PrecoTarefas</td>
            <td>@item.PrecoTotal</td>
            <td>@item.ProjetoId</td>
            <td>@item.ClienteId</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
    }
    </tbody>
</table>
