@model IEnumerable<ESII.Models.Utilizador>
@{
    ViewData["Title"] = "Utilizadores";
}

<h2>Lista de Utilizadores</h2>
<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Horas por Dia</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nome</td>
            <td>@item.Email</td>
            <td>@item.HorasDia</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
    }
    </tbody>
</table>
