@model ESII.Models.Relatorio
@{
    ViewData["Title"] = "Excluir Relatório";
}

<h2>Excluir Relatório</h2>
<h3>Tem certeza que deseja excluir?</h3>
<div>
    <h4>Mês: @Model.Mes</h4>
    <p>Ano: @Model.Ano</p>
    <p>Total de Horas: @Model.TotalHoras</p>
    <p>Preço Total: @Model.PrecoTotal</p>
    <p>Preço por Hora: @Model.PrecoHora</p>
    <p>ID do Utilizador: @Model.UtilizadorId</p>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Excluir</button>
</form>
<a asp-action="Index">Voltar para a Lista</a>